{% extends "proj_tasks/base.html" %}
{% block header %}
	<div class='jumbotron'>
		<h1>Track your Tasks</h1>
		<p>
		Now tracking your tasks is easy. Make an entry summarizing 
		what needs to be done along with dates, attachments and 
		track your progress. Never miss a deadline!
	</p>
	</div>
{% endblock header %}
{% block content %}
	<h3>
		<a href="{% url 'users:register' %}">Register</a> to make
		your own account, and track the Project tasks you're working on.
	</h3>
	
{% endblock content %}