{% extends "proj_tasks/base.html" %}

{% block header %}
  <h1>My Boards</h1>
{% endblock %}

{% block content %}
  
  <ul class="list-group">
  <p><a href="{% url 'proj_tasks:new_project' %}">Create New Board...</p>
    {% for project in projects %}
      <li class="list-group-item">
	  
        <h3>
          <a href="{% url 'proj_tasks:project' project.id %}">{{ project }}</a>
        </h3>
		
      </li>
    {% empty %}
      <li>No projects have been added yet.</li>
    {% endfor %}
   
 </ul>
{% endblock content %}